@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;

    z-index: 999;

    background-color: #FFFFFF;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
}

header nav a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

header nav ul{
    display: flex;
}

header nav li {
    margin: 0px 20px;
}

.navlist ul li a:hover {
    color: #405ABA;
}

.contact {
    border: 2px #405ABA solid;
    border-radius: 20px;

    color: #405ABA;
    padding: 8px 20px;
}

.contact:hover {
    background-color: #405ABA;
    color: #FFFFFF;

    transition: 0.3s all;
}

main {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.section1 {
    display: flex;
    justify-content: space-evenly;
}

.word {
    letter-spacing: 2px;
}

.section1 h1 {
    font-size: 3.1rem;
    font-weight: bold;
}

.section1 button{
    padding: 5px 10px;

    border-radius: 20px;
    border: 2px #405ABA solid;

    font-weight: 600;

    color: #405ABA;
    background-color: #FFFFFF;
}

.section1 button:hover {
    background-color: #405ABA;
    color: #FFFFFF;

    transition: 0.3s all;
}

.section1 .img-main img {
    width: 580px;
}

.section1 ul {

    display: flex;
    align-items: center;
}

.section1 .contatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 400px;
}

.section1 .contatos ul li {
    margin: 0px 3px;
}

.section1 .contatos ul li a img:hover {
    transform: scale(1.05);
    transition: 0.3s all;
}

.mystack {
    line-height: 1.5rem;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen2 {
    display: none;
}

.section2 {
    margin-top: 15rem;

    background-color: #405ABA;

    padding-top:9rem;
    padding-bottom: 10rem;

    position: relative;
}

.minha-foto {
    display: flex;
    flex-direction: column;

    align-items: center;

    color: #D8DEF2;
}

.minha-foto .minha-imagem{

    width: 20rem;
    height: 20rem;

    /* width: 330px;
    height: 330px; */

    border-radius: 90%;

    object-fit: cover;
}

.minha-foto h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

.minha-descricao {
    /* border: 1px red solid; */
    width: 85%;
}

.minha-foto p {
    font-size: 1.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.nova-div {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50rem;
    background-color: #ffffff;
    color: #141C3A;

    border: 2px #405ABA solid;
    border-radius: 48px;
}

.atualmente h2{
    font-size: 1.8rem;
    font-weight: bold;
}

.fazendo-atualmente p {
    padding-top: 0;
    padding-bottom: 0;
}

.section3 {
    margin-top: 28rem;
}

.section3 h1, .section4 h1, .section5 h1, .section6 h1 {
    font-size: 45px;
    font-weight: bold;
}

.container-habilidades-geral {
    margin-top: 5rem;
}

.container-habilidades {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-habilidades img {
    margin: 0px 1rem;
    margin-bottom: 1.6rem;
}

.container-habilidades img:hover {
    transform: scale(1.15);
    transition: 0.3s all;
    cursor: pointer;
}

.descri-linguagem p{
    font-size: 1.1rem;
    margin-top: 2rem;

    border-bottom: 2px #405ABA solid;
}

.destaque-linguagens, .sinal-subtitulo {
    color: #405ABA;
    font-weight: bold;
}

.section4 {
    margin-top: 10rem;
}

.section3 h6, .section4 h6, .section5 h6, .section6 h6 {
    color: #555555;
}

.container-projetos div{
    width: 35rem;
    height: auto;

    border-radius: 15px;
}

.container-projetos div img {
    border-radius: 15px;
}

.container-projetos div h2 {
    font-weight: bold;
    color: #333333;
}

.container-projetos div p {
    word-spacing: 4px;
    line-height: 1.8;
}

.container-projetos div button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;

    color: #FFFFFF;
    background-color: #000000;

    font-weight: 500;
}

.container-projetos div button:hover {
    background-color: #222222;
}

.section4-2 div .projetos {
    margin-top: 15rem;
}

.section5, .section6 {
    margin-top: 10rem;
}

.section5 article h2 {
    font-weight: 600;
}

.section5 article p {
    color: #555555;
}

.barra-lateral-perfil {
    width: 0.1rem;
    height: 100%;
    background-color: #D8DEF2;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    font-weight: bold;

    color: #405ABA;
}

form input {
    width: 100%;
    height: 2.5rem;

    border: 1px #D8DEF2 solid;
    border-radius: 5px;
    outline: none;

    padding: 8px;
}

form textarea {
    width: 85%;

    border: 1px #D8DEF2 solid;
    outline: none;
    resize: none;

    padding: 8px;
}

form button {
    width: 8rem;
    padding: 5px 0px;

    background-color: #FFFFFF;
    color: #405ABA;
    border: 2px #405ABA solid;

    border-radius: 40px;
    font-weight: bold;
}

form button:hover {
    background-color: #405ABA;
    color: #FFFFFF;

    transition: 0.3s all;
}

form div .aviso-email{
    font-weight: bold;
}
