@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: 'Montserrat', sans-serif;
}

body {

}

header {
    position: fixed;
    top: 0;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

header nav a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

header nav ul{
    display: flex;
}

header nav li {
    margin: 0px 20px;
}

main {
    margin-top: 104px;
}

.section1 {
    display: flex;
}

.word {
    letter-spacing: 2px;
}

.section1 h1 {
    font-size: 3.1rem;
    font-weight: bold;
}

.section1 button{
    padding: 5px 10px;

    border-radius: 20px;
    border: 1px #1C2E35 solid;

    background-color: #FFFFFF;
}

.section1 .img-main img {
    width: 90%;
}

.section1 ul {

    display: flex;
    align-items: center;
}

.section1 .contatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 400px;
}

.section1 .contatos ul li {
    margin: 0px 3px;
}

.section1 .contatos ul li a {
    /* animation:
     contato 1.5s ease-in-out; */
}

/* @keyframes contato {
    50% {
        transform: translateY(-10%);
    }
} */

.mystack {
    line-height: 0.5;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}