@media (max-width: 1200px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;

    }

    .ttexto-skills, .text-projetos, .section5, .Texto-contato {
        margin-left: 10%;
    }

    .section1 .img-main img {
        width: 500px;
    }
}

@media (max-width: 1161px) {
    .section4-2 div .projetos {
        margin-top: 3rem;
    }
}

@media (max-width: 1119px) {
    .word {
        font-size: 14px;
    }

    .section1 h1 {
        font-size: 2.8rem;
    }

    .section1 .img-main img {
        width: 450px;
    }

}

@media (max-width: 1022px) {
    .section1 .img-main img {
        width: 410px;
    }
}

@media (max-width: 992px) {

    body {
        overflow-x: hidden;
    }

    header {
        background-color: #f3f0f0;
    }

    header nav ul {
        position: absolute;
        top: 9vh;
        right: 0;
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;

        width: 50vw;
        height: 91vh;

        transform: translateX(100%);
        transition: transform 0.3s ease-in;

        background-color: #f3f0f0;
    }

    header nav ul li {
        margin: 5rem 10vw;
    }

    header nav ul.active {
        transform: translateX(0);
    }

    .section1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .word {
        font-size: 16px;
    }

    .section1 h1 {
        font-size: 3.6rem;
    }

    .section1 .img-main img {
        display: none;
    }

    .section1 .img-main .imagen2 {
        display: block;
    }

    .section2 {
        margin-top: 0rem;
    }

    .word {
        font-size: 14px;
    }

    .section1 h1 {
        font-size: 2.8rem;
    }

    .minha-descricao {
        width: 50rem;
    }

    .minha-foto .minha-imagem {
        width: 17rem;
        height: 17rem;
    }

    .minha-foto .minha-descricao p {
        font-size: 1.1rem;
    }
}

@media (max-width: 823px) {
    .nova-div {
        width: 98%;
    }

    .atualmente img {
        width: 70px;
    }

    .atualmente h2 {
        font-size: 1.6rem;
    }

    .fazendo-atualmente p {
        font-size: 1.05rem;
    }

    .minha-descricao {
        width: 40rem;
    }

    .minha-foto .minha-imagem {
        width: 14rem;
        height: 14rem;
    }

    .minha-foto .minha-descricao p {
        font-size: 1.0rem;
    }

    .minha-foto .meu-nome h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 645px) {
    .minha-descricao {
        width: 30rem;
    }

    .minha-foto .minha-imagem {
        width: 12rem;
        height: 12rem;
    }

    .minha-foto .minha-descricao p {
        font-size: 0.9rem;
    }

    .minha-foto .meu-nome h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 569px) {

    .contact {
        border: none;
        color: black;
    }

    .word {
        font-size: 12px;
    }
    .section1 .titulo-section1 h1 {
        font-size: 2.6rem;
    }

    .atualmente h2 {
        font-size: 1.5rem;
    }

    .fazendo-atualmente p {
        font-size: 1.0rem;
    }

    .container-projetos div {
        width: 100%;
    }
}

@media (max-width: 535px) {

    .contact i {
        display: none;
    }

    .word {
        font-size: 12px;
    }

    .container-word {
        display: flex;
        justify-content: center;
    }

    .section1 .titulo-section1 {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section1 .titulo-section1 h1 {
        font-size: 2.4rem;
    }

    .section1 {
        align-items: center;
        justify-content: center;
    }

    .container-projetos div h2 {
        font-size: 1.5rem;
    }

    .container-projetos div p {
        font-size: 0.9rem;
    }
}

@media (max-width: 501px) {
    .section1 .titulo-section1 h1 {
        font-size: 1.8rem;
    }

    .section1 .img-main img {
        width: 300px;
    }

    .fazendo-atualmente p {
        font-size: 0.8rem;
    }

    .atualmente img {
        width: 60px;
    }

    .atualmente h2 {
        font-size: 1.4rem;
    }

    .container-projetos div h2 {
        font-size: 1.4rem;
    }

    .container-projetos div p {
        font-size: 0.8rem;
    }

    .minha-descricao {
        width: 22rem;
    }

    .minha-foto .minha-imagem {
        width: 10rem;
        height: 10rem;
    }

    .minha-foto .minha-descricao p {
        font-size: 0.8rem;
    }

    .minha-foto .meu-nome h2 {
        font-size: 1.0rem;
    }
}

@media (min-width: 400px) and (max-width: 575px) {
    .section3 h1, .section4 h1, .section5 h1, .section6 h1 {
        font-size: 35px;
    }
}

@media (min-width: 400px) and (max-width: 575px) {
    .container-habilidades {
        justify-content: center;
    }

    .container-habilidades img {
        width: 77px;
        margin: 0px 0.2rem;
    }

    .descri-linguagem {
    padding-top: 2rem;
    }
}

@media (min-width: 100px) and (max-width: 575px) {
    hr {
        display: block;
    }

    .aviso-email {
        display: none;
    }

    .container-buttom {
        justify-content: center;
    }

    form textarea {
        width: 100%;
    }

    .descri-linguagem p {
        font-size: 0.8rem;
    }
}

@media (min-width: 110px) and (max-width: 400px) {

    header nav ul li {
        margin: 5rem 1vw;
    }

    .section3 h1,.section4 h1, .section5 h1, .section6 h1 {
        font-size: 28px;
        text-align: center;
    }

    .section3 h6, .section4 h1, .section5 h6, .section6 h6 {
        text-align: center;
    }

    .direitos p {
        font-size: 12px;
    }

    .nome-menu {
        display: none;
    }

    .menu-hamburguer {
        padding: 0.1rem 0.3rem;
    }

    .menu-hamburguer img {
        padding-left: 0rem;
    }

    .container-habilidades {
        justify-content: center;
    }

    .container-habilidades img {
        width: 70px;
    }

    .fazendo-atualmente p {
        font-size: 0.8rem;
    }

    .minha-descricao {
        width: 18rem;
    }

    .minha-foto .minha-imagem {
        width: 9rem;
        height: 9rem;
    }

    .minha-foto .minha-descricao p {
        font-size: 0.7rem;
    }

    .minha-foto .meu-nome h2 {
        font-size: 0.8rem;
    }

    .container-projetos div button {
        padding: 8px 15px;
        width: 8.4rem;
        font-size: 14px;
    
        font-weight: 500;
    }
}